@main("index"){

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JART</title>
</head>
<body bgcolor="black">

<!--<div onload=/*animations*/  >-->
    <!--<h1>-->
        <!--JART-->
    <!--</h1>-->
<!--</div>-->

<div class="banner">
    <h1>JART: PvP</h1>
</div>
<img src="assets/images/darkfantasy.jpg" class = "picture">
<a href="/game.html">
<button onclick="" class="buttons parent" >Start Game</button>
</a>
<a href="instructions.html">
    <button class="buttons button1">Instructions</button>
</a>
<button onclick="" class="buttons button2">Settings</button>
<button onclick="" class="buttons button3">Quit Game</button>


</body>
}