@main("Instructions"){
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JART</title>
</head>
<body bgcolor="black">

<div class="banner">
    <h1>JART: PvP</h1>
</div>
<img src="assets/images/darkfantasy.jpg" class = "picture">
    <h1><script>
            console.log(httpGet("allUsers"));
            console.log(httpGet("userById?id=1"));
            console.log(httpGet("userByName?name=Yeetasaurus"));
    </script></h1>

<!--INSTRUCTIONS
W
A
S
D
 ALL TOWARDS MOVING GRID
 1) CHOOSE A TEAM (COLORS)
 2)CHOOSE A CLASS(*MAGE/ ARCHER/WARRRIOR
 ATTACK-CLICK

 -->




</body>
}